APP__TEXT_THRESH=1000
APP__MAX_WORKERS=8
APP__STORAGE_DIR=./data
APP__BROWSER__MODE=disabled   # disabled|light|selenium|playwright
APP__BROWSER__PAGE_TIMEOUT_S=25
APP__OCR__BACKEND=auto        # auto|cuda|mps|cpu
APP__OCR__TIMEOUT_S=20
APP__LOG__LEVEL=INFO          # DEBUG|INFO|WARNING|ERROR 